[submodule "VGMPlay/chips/Nuked-OPLL"]
	path = VGMPlay/chips/Nuked-OPLL
	url = https://github.com/nukeykt/Nuked-OPLL.git
	branch = master
[submodule "VGMPlay/chips/Nuked-OPN2"]
	path = VGMPlay/chips/Nuked-OPN2
	url = https://github.com/nukeykt/Nuked-OPN2.git
	branch = master
[submodule "VGMPlay/chips/emu2413"]
	path = VGMPlay/chips/emu2413
	url = https://github.com/digital-sound-antiques/emu2413.git
	branch = main
